body {
    padding: 0;
    margin: 16;
    padding-top: 100px;
    width: 100vw; 
    background-color: rgb(25, 33, 41);
    font-family: Georgia, 'Times New Roman', Times, serif, bold 
}

#form-container {  
    color: white;
    margin: auto;
    border: 1px solid rgb(67, 163, 230);
    width: 150px;
    padding: 32px;    
}

#name {

    border: 1px solid rgb(67, 163, 230);
    margin-top: 4px;
    margin-bottom: 4px;
}

#email {

    border: 1px solid rgb(67, 163, 230);
    margin-top: 4px;
    margin-bottom: 4px;
}

#comment {
    width: 140px;
    border: 1px solid rgb(67, 163, 230);
    margin-top: 4px;
    margin-bottom: 4px;
}

button {
    margin-top: 16px;
    background-color: rgb(67, 163, 230);
    border: none;
    color: white;
    border-radius: 4px;
    
}

